{% extends "layout.html" %}
{% block content %}
    <div class="notes_section">
        <h2>DO THESE THINGS:</h2>
        {% for note in notes %}
            <div class="note_card">
                <a class="note_title" href="{{ url_for('note_page', note_id=note.id) }}">{{ note.title }}</a>
                <p class="note_content">{{ note.content }}</p>
                <p class="note_date">{{ note.date_posted.strftime('%b %d, %Y') }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}